*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    /* background-image: url(images/s.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  */
    background: rgb(0, 0, 0);
}
.card {
  height: 800px;
  width: 90%;
  max-width: 600px;
  color: #000000;
  background-color: white;
  margin: 150px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  /* Blur effect */
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /* Optional: Add some border and shadow for glass look */
}

.temp{
    letter-spacing: 5px;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #000000;
    color: #ffffff;
    padding: 15px 25px;
    border-radius: 20px;
    height: 60px;
    flex: 1;
    margin-right: 15px;
    font-size: 20px;
}
input::placeholder{
    color:  white;
}
.search button{
    border: 0;
    outline: 0;
    border-radius: 50px;
    background-color: white;
    height: 60px;
    width: 60px;
    cursor: pointer;
}
.search button img{
    width: 60px;
    margin-right: 2px;
}
.weather-icons{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    margin-top: 10px;
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -5px;
}
.weather h3{
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 500;
    margin-top: 2px;
}
.weather img{
    margin-top: 10%;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
    padding: 0 20px;
}
.details col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 50px;
    margin-right: 10px;
}
.humidity , .wind{
    font-size: 30px;
    letter-spacing: 1px;
    margin-top: 5px;
}
#eroor{
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 15px;
    display: none;
}











